################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projekt_Auftragsverwaltung/Projekt_Auftragsverwaltung/.vs/Projekt_Auftragsverwaltung/FileContentIndex
/.gitignore
