################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DatenbankProjekt/v17/.wsuo
/Projekt_Auftragsverwaltung/Projekt_Auftragsverwaltung/.vs/Projekt_Auftragsverwaltung/FileContentIndex/0790992b-7860-4442-9328-de6e16e9c193.vsidx
/Projekt_Auftragsverwaltung/Projekt_Auftragsverwaltung/.vs/Projekt_Auftragsverwaltung/FileContentIndex/0ee12d1d-ce91-4c8e-b5fd-dd944799a8de.vsidx
/Projekt_Auftragsverwaltung/Projekt_Auftragsverwaltung/.vs/Projekt_Auftragsverwaltung/FileContentIndex
