<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Gabor" connectionString="Data Source=DESKTOP-G8PTADT\MSSQLSERVERZBWGA;Database=CompanyXYZ;Trusted_Connection=True;"/>
		<add name ="Marco" connectionString="Data Source=DESKTOP-8S98QH8\\ZBWSERVER;Database=CompanyXYZ;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>